<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emit.resume.dao.UserDao">

    <sql id="Base_Column_List">
        id,username,password,roles,status,create_time,emp_id
    </sql>

    <!-- 根据用户名查询用户 -->
    <select id="findUserByUsername" resultType="com.emit.resume.domain.User">
        select
        <include refid="Base_Column_List" />
        from user
        where username=#{username}
    </select>
    <select id="findUserById" resultType="com.emit.resume.domain.User">
        SELECT
        <include refid="Base_Column_List" />
        FROM user
        WHERE id = #{id}
    </select>

    <select id="findUsers" resultType="com.emit.resume.domain.User" parameterType="String">
        select
        <include refid="Base_Column_List" />
        from user
        <where>
            <if test="username!=null and username!=''">
                username  like CONCAT(CONCAT('%', #{username},'%'))
            </if>
        </where>
    </select>
    <insert id="addUser">
        insert into user(username,password,roles,status,create_time) values(#{username},#{password},#{roles},#{status},#{createTime})
    </insert>
    <update id="editUser" >
        UPDATE user
        <set>
            <if test="username!=null and username!=''">`username`=#{username},</if>
            <if test="status!=null and status!=''">`status`=#{status},</if>
            <if test="roles!=null">`roles`=#{roles},</if>
        </set>
        WHERE id=#{id}
    </update>
    <update id="updatePassword" >
        UPDATE user
        <set>
            <if test="password!=null and password!=''">`password`=#{password},</if>
        </set>
        WHERE id=#{id}
    </update>
    <delete id="delUser">
		delete from user
		where
		id = #{id}
	</delete>
</mapper>